<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="WCF_app.mojKalkulator"
      behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10010/mojSerwis" />
          </baseAddresses>
        </host>
        <endpoint address="/endpoint1" binding="wsHttpBinding"
        contract="WCF_app.IKalkulator">
        </endpoint>
        <endpoint name="mojEndpoint2" address="/endpoint2"
        binding="basicHttpBinding"
        contract="WCF_app.IKalkulator">
        </endpoint>
        <endpoint name="mojEndpoint3"
        address="http://localhost:20010/mojSerwis/endpoint3"
        binding="basicHttpBinding"
        contract="WCF_app.IKalkulator">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding"
        contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling
          maxConcurrentCalls="5"
          maxConcurrentSessions="5"
          maxConcurrentInstances="5"
/>
          <serviceMetadata
          httpGetEnabled="true"
          httpGetUrl=""
/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>